<div class="post overflow-hidden border-top py-2">
    {% if trans.getMetaImage()|length > 0 %}
        <img class="float-right w-25 mr-2" src="{{ trans.getMetaImage() }}">
    {% endif %}
    <h4>{{ trans.getTitle() }}</h4>
    {% if post.getPublishAt() > 0 %}
        {% if trans.getLanguage().getLocale() == "en" %}
            <small>Published on {{ post.getPublishAt()|date('d.m.Y') }} at {{ post.getPublishAt()|date('H:i') }} Uhr</small>
        {% elseif trans.getLanguage().getLocale() == "fr" %}
            <small>Publié le {{ post.getPublishAt()|date('d.m.Y') }} à {{ post.getPublishAt()|date('H:i') }} Uhr</small>
        {% else %}
            <small>Veröffentlicht am {{ post.getPublishAt()|date('d.m.Y') }} um {{ post.getPublishAt()|date('H:i') }} Uhr</small>
        {% endif %}
    {% endif %}
    <div>
        {% if trans.getMetaDescription()|length > 0 %}
            {{ trans.getMetaDescription()|nl2br }}
        {% else %}
            {{ trans.getContent() }}
        {% endif %}
    </div>
    {% if trans.getContent()|length > 0 %}
        <a href="{{ base_url() }}/{{ pTrans.getLanguage().getLocale() }}/{{ pTrans.getName() }}/{{ trans.getName() }}">Weiterlesen</a>
    {% endif %}
</div>
